.square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 84px;
    font-weight: bold;
    line-height: 96px;
    height: 96px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 96px;
    cursor: pointer;
  }
  
  .square:focus {
    outline: none;
  }
  .square:hover {
    border: 4px solid #282c34;
  }
  
  .kbd-navigation .square:focus {
    background: #ddd;
  }