<!DOCTYPE html>
<html>

<head>
    <style>
        div {
            background-color: lightgrey;
            width: 300px;
            border: 15px solid blue;
            padding: 50px;
            margin: 100px;
        }
    </style>
</head>

<body>

    <h2>Demonstrating the Box Model</h2>

    <p>
        The CSS box model is essentially a box that wraps around every HTML element. It consists of:</p>
    <ul>
        <li>
            borders
        </li>
        <li>
            padding
        </li>
        <li>
            margins
        </li>
        <li>
            content
        </li>
    </ul>

    <div>
        <span>
            This text is the content of the box
        </span>
        <ul>
            <li>Padding: 50px</li>
            <li>Margin: 20px</li>
            <li>Green Border: 15x</li>
        </ul>
    </div>
</body>

</html>