.button {
  &__search {
    background: url("../../assets/images/btn-search.png");
    border: 0;
    cursor: pointer;
    height: 40px;
    width: 101px;
    margin-bottom: 15px;
    margin-top: 15px;
  }

  &__signin {
    background: url("../../assets/images/btn-signin.png");
    border: 0;
    cursor: pointer;
    height: 43px;
    margin-top: 10px;
    width: 106px;
  }
}
