.board {
    display: flex;
    flex-direction: column;
}

.board-row {
    display: flex;
    flex-direction: row;
}
.board-row:after {
    clear: both;
    content: "";
    display: table;
}

.status {
margin-bottom: 10px;
}