$black: #000;
$blue: #9bdcfc;
$blue-light: #55d6f9;
$blue-dark: #4d97a6;
$red: #cc3333;
$yellow: #ffe634;
$yellow-light: #fad874;
$yellow-light-dark: #f1e2a8;
$yellow-with-transparency: rgba(233,174,30,0.34);
$white: #fff;
